* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width:100%;
    background-color: black;
    margin: 0;
    padding: 0;
    
}

#nav-bar {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-bottom: 25px dotted white;
    z-index: 1;
    
}

@media only screen and (max-width: 1000px){
    #nav-bar {
        justify-content: space-between;
    }
}

#logo {
    position: absolute;
    left: 2vw;
    align-self: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    color: rgba(171, 183, 183, 1);
    white-space: nowrap;
}

@media only screen and (max-width: 1000px){
    #logo {
        position: static;
        margin-left: 2vw;
    }
}

#main-nav {
    display: flex;
    
    align-self: center;
    height: 100%;
}

@media only screen and (max-width: 1000px){
    #main-nav {
        margin-right: 2vw;
    }
}

#main-nav ul {
    column-gap: 2vw;
    display: flex;
}

#main-nav ul li{
    align-self: center;
    white-space: nowrap;

    list-style: none;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 95px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(19, calc(100vh/10)) 90px 90px;
    row-gap: 2vh;
}



main #first {
    grid-area: 2/1/8/13;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60vh;
    
    
}

main #first .img-container {
    grid-area: 1/1/2/8;
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 20rem;
}

#tennis-container {
    grid-area: 1/1/2/8;
}

main section div #tennis, main section div #tea {
    height: auto;
    width: 100%;
    border-top-right-radius: 9% 75%;
    border-bottom-right-radius: 9% 75%;
    object-fit: contain;
    object-position: left;
}

main section div #flexer {
    height: auto;
    width: 100%;
    border-top-left-radius: 9% 75%;
    border-bottom-left-radius: 9% 75%;
    object-fit: contain;
    object-position: right;
}





main #first .descr {
    grid-area: 1/8/2/13;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5vh;
    align-items: center;
    justify-content: center;
    
}


.descr p {
    width: 90%;
    text-align: justify;
    font-size: 1rem;
}

main #second {
    grid-area: 8/1/14/13;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60vh;
    
    
}

main #second .img-container {
    grid-area: 1/6/2/13;
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 20rem;
   
    
}

main #second .descr {
    grid-area: 1/1/2/6;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5vh;
    align-items: center;
    justify-content: center;
}

main #third {
    grid-area: 14/1/20/13;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60vh;
}

main #third .img-container {
    grid-area: 1/1/2/8;
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 20rem;
}

main #third .descr {
    grid-area: 1/8/2/13;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5vh;
    align-items: center;
    justify-content: center;
}

#tennis, #flexer, #tea {
    border: 1px solid white;
}

h1 {
    grid-area: 1/1/2/13;
    margin-left: auto;
    margin-right: auto;
}

#my-proj {
    padding-top: 100px;
    margin-top: -95px;
}

.logos {
    height: 30px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo {
    height: 30px;
    width: auto;
}

footer {
    position: relative;
    grid-area: 20/1/22/13;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow:column;
    align-items: center;
}

#footer-nav {
    width: 100%;
    margin-top: 1rem;
}

#footer-nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 3vw;
}

#footer-nav ul li {
    list-style: none;
}

#footer-nav ul li:hover {
    background-color: black;
}

#footer-nav ul li a{
    color: black;
    display: block;
    padding: 0.2rem 0.5rem;
}

#footer-nav ul li a:hover {
    color: white;
}

table {
    margin-top: 1rem;  
    border-spacing: 0.5rem 3px;  
    
}

th {
    
    text-align: right;
}

td {
    
    text-align: left;
}

th, td, th strong, td a, td p {
    color: black;
   
}

td a, th strong, td p{
    display: inline-block;
    padding: 0.2rem 0.5rem;
}

td a:hover {
    color: white;
    background-color: black;
}

#cr {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    
}

#cr, #cr a {
    color: black;
    font-size: 0.7rem;
}


/*CONTACT PAGE*/

#contact-body {
    
    height: fit-content;
    width: 100%;
    
    
}

#contact-main {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, calc(100vh/10)) 90px 90px;
    width: 100%;
    height: 100%;   
}

#contact-me {
    grid-area: 1/1/2/13;
    padding-top: 100px;
    margin-top: -95px;
}



#form {
    grid-area: 2/1/9/13;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    
}

form {
    position: relative;
    display: block;
    
    width: 95%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0;
}

form input, #message {
    color: black;
}

.field {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
}

input, textarea, label {
    display: inline-block;
    
}

input[type="email"] {
    width: 20vw;
}

textarea {
    width: 100%;
    resize: none;
}

.top {
    margin-bottom: 3vh;
}

.radio {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.bottom-margin {
    margin-bottom: 3vh;
}

input[type="submit"] {
    font-size: 2rem;
    font-weight: bold;
    
    display: block;
    margin: 0 auto;
    background-color: white;
    border: none;
    padding: 3px 2vw;
}

input[type="submit"]:hover {
    background-color: grey;
    color: white;
}

#contact-main footer {
    grid-area: 9/1/11/13;
}



