* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

html {
    position: relative;
    min-height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100%;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    
}

#nav-bar {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-bottom: 25px dotted white;
    z-index: 1;
    
}

@media only screen and (max-width: 1000px){
    #nav-bar {
        justify-content: space-between;
    }
}

#logo {
    position: absolute;
    left: 2vw;
    align-self: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    color: rgba(171, 183, 183, 1);
    white-space: nowrap;
}

@media only screen and (max-width: 1000px){
    #logo {
        position: static;
        margin-left: 2vw;
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        font-size: 1.5rem;
    }
}

#main-nav {
    display: flex;
    align-self: center;
    height: 100%;
}

@media only screen and (max-width: 1000px){
    #main-nav {
        margin-right: 2vw;
    }
}

@media only screen and (max-width: 600px) {
    #main-nav {
        display: none;
    }
}

#menu {
    display: none;
}

#mobile-menu {
    display: none;
}

@media only screen and (max-width: 600px) {
    #menu {
        display: flex;
        height: 100%;
        align-items: center;
        margin-right: 2vw;
    }

    #menu a {
        font-size: larger;
        
    }
}



@media only screen and (max-width: 600px) {
    #mobile-menu {
        display: none;
        flex-flow:column nowrap;
        position: absolute;
        height: 50vh;
        width: 100vw;
        
        background-color: rgba(255, 255, 255, 0.95);
        top: 0;
        right: 0;
    }

    #mobile-menu ul {
        display: flex;
        flex-flow: column nowrap;
        
        width: 100%;
        height: 75%;
        align-items: center;
        justify-content: center;
        row-gap: 45px;

        

    }

    #mobile-menu li {
        list-style: none;
    }
    #mobile-menu a {
        color: black;
        display:block;
        
        width:75vw;
        text-align: center;
        font-size: 2rem;
    }

    #close {
        display: flex;
        width: 100%;
        height:25%;
        
        justify-content: center;
    }

    #close p {
        display: flex;
        color: black;
        
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        width: 75%;
        height: minmax(min-content, max-content);
        align-items: center;
        justify-content: center;
    }

    
    
}

#main-nav ul {
    column-gap: 2vw;
    display: flex;
}

#main-nav ul li{
    align-self: center;
    white-space: nowrap;
    list-style: none;
}

main {
    position: relative;
    
    width: 100%;
    height: 100%;
    top: 95px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(19, calc(100vh/10)) 90px;
    row-gap: 2vh;
}

@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:  repeat(4, minmax(min-content, max-content)) 90px 90px;
        
    }
}


main #first {
    grid-area: 2/1/8/13;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60vh;
    
    
}
@media only screen and (max-width: 600px) {
    main #first{
        position: relative;
        grid-area: 2/1/3/5;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        row-gap: 6vh;
        
    }
}


main #first .img-container {
    
    grid-area: 1/1/2/8;
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 20rem;
}

@media only screen and (max-width: 600px) {
    main #first .img-container {
        position: relative;
        grid-area: 1/1/2/5;
        min-height: unset;
        
    }
}

#tennis-container {
    grid-area: 1/1/2/8;
}



main section div #tennis, main section div #tea {
    position: relative;
    height: 100%;
    width: 100%;
    border-top-right-radius: 9% 75%;
    border-bottom-right-radius: 9% 75%;
    object-fit: contain;
    object-position: left;
}






main section div #flexer {
    height: auto;
    width: 100%;
    border-top-left-radius: 9% 75%;
    border-bottom-left-radius: 9% 75%;
    object-fit: contain;
    object-position: right;
}





main #first .descr {
    grid-area: 1/8/2/13;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5vh;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 600px) {
    main #first .descr {
        grid-area: 2/1/3/5;
        height: fit-content;
        justify-content: flex-start;
    }
    
}

main #first .descr h2 {
    text-align: center;
}


.descr p {
    width: 90%;
    text-align: justify;
    font-size: 1rem;
}

main #second {
    grid-area: 8/1/14/13;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60vh;    
}

@media only screen and (max-width: 600px) {
    main #second {
        position: relative;
        grid-area: 3/1/4/5;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        row-gap: 6vh;
    }
}

main #second .img-container {
    grid-area: 1/6/2/13;
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 20rem;
   
    
}

@media only screen and (max-width: 600px) {
    main #second .img-container{
        grid-area: 1/1/2/5;
        min-height: unset;
        height: fit-content;
    }
    
}

main #second .descr {
    grid-area: 1/1/2/6;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5vh;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    main #second .descr{
        grid-area: 2/1/3/5;
        height: fit-content;
        justify-content: flex-start;
    }
    
}

main #third {
    grid-area: 14/1/20/13;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60vh;
}

@media only screen and (max-width: 600px) {
    main #third {
        grid-area: 4/1/5/5;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
    }    
}

main #third .img-container {
    grid-area: 1/1/2/8;
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 20rem;
}

@media only screen and (max-width: 600px) {
    main #third .img-container {
        grid-area: 1/1/2/5;
        min-height: unset;
        height: fit-content;
    }
}

main #third .descr {
    grid-area: 1/8/2/13;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.5vh;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    main #third .descr {
        grid-area: 2/1/3/5;
        height: fit-content;
        justify-content: flex-start;
    }

}

#tennis, #flexer, #tea {
    border: 1px solid white;
}

h1 {
    grid-area: 1/1/2/13;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    h1 {
        grid-area: 1/1/2/5;
        
    }
}

#my-proj {
    padding-top: 100px;
    margin-top: -95px;
}

.logos {
    height: 30px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo {
    height: 30px;
    width: auto;
}

footer {
    position: relative;
    
    background-color: white;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

@media only screen and (max-width: 600px) {
    footer {
        font-size: smaller;
    }
}

#footer-nav {
    width: 100%;
    margin-top: 1rem;
}

#footer-nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 3vw;
}

#footer-nav ul li {
    list-style: none;
}

#footer-nav ul li:hover {
    background-color: black;
}

#footer-nav ul li a{
    color: black;
    display: block;
    padding: 0.2rem 0.5rem;
}

#footer-nav ul li a:hover {
    color: white;
}

table {
    margin-top: 1rem;  
    border-spacing: 0.5rem 3px;  
    
}

th {
    
    text-align: right;
}

td {
    
    text-align: left;
}

th, td, th strong, td a, td p {
    color: black;
   
}

td a, th strong, td p{
    display: inline-block;
    padding: 0.2rem 0.5rem;
}

td a:hover {
    color: white;
    background-color: black;
}

#cr-contain {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: flex-end;
}

#cr {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 5px;
    
}

#cr, #cr a {
    color: black;
    font-size: 0.7rem;
}


/*CONTACT PAGE*/

#contact-body {
    height: 100%;
    width: 100%;
    
    
}

#contact-main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, minmax(min-content, max-content)) 190px;
    row-gap: 5vh;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    #contact-main {
        grid-template-columns: repeat(4, 1fr);
    }
}

#contact-me {
    grid-area: 1/1/2/13;
    padding-top: 100px;
    margin-top: -95px;
}

@media only screen and (max-width: 600px) {
    #contact-me {
        grid-area: 1/1/2/5;
    }
}



#form {
    grid-area: 2/1/9/13;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    
}

@media only screen and (max-width: 600px) {
    #form {
        grid-area: 2/1/9/5;
    }
}

form {
    position: relative;
    display: block;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0;
}

form input, #message {
    color: black;
}

.field {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
}

input, textarea, label {
    display: inline-block;
    
}

input[type="email"] {
    width: 20vw;
    min-width: 250px;
}

textarea {
    width: 100%;
    resize: none;
}

.top {
    margin-bottom: 3vh;
}

.radio {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.bottom-margin {
    margin-bottom: 3vh;
}

input[type="submit"] {
    font-size: 2rem;
    font-weight: bold;
    
    display: block;
    margin: 0 auto;
    background-color: white;
    border: none;
    padding: 3px 2vw;
}

input[type="submit"]:hover {
    background-color: grey;
    color: white;
}



/*SKILLS PAGE*/

#skills {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#skills-main {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, calc(100vh/10)) 90px;
    
}

@media only screen and (max-width: 600px) {
    #skills-main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, minmax(min-content, max-content)) 90px 90px;
        
        width: 100%;
    }
}

#my-skills {
    grid-area: 1/1/2/13;
    padding-top: 100px;
    margin-top: -95px;
}

@media only screen and (max-width: 600px) {
    #my-skills {
        grid-area: 1/1/2/5;
    }
}







#year-path {
    grid-area: 2/1/9/7;
    width: 95%;
    height: 100%;
    border-collapse:collapse;
    margin: 0 auto;
    
}

@media only screen and (max-width: 600px) {
    #year-path {
        grid-area: 2/1/9/5;
        width:75%;
        margin: 0 auto;
    }
}

#year-path tr td {
    height: 10vh;
    width: 10vw;
    margin:0;
    padding:0;
    
}

@media only screen and (max-width: 600px) {
    #year-path tr td {
        height: 2vw;
        font-size: smaller;
    }
}



.side {
    border-right: 10px dashed white;
}


.text {
    border-bottom: 5px dashed white;
}

#year-path h2 {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#year-path p {
    width: 100%;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#skill-level {
    grid-area: 2/8/9/13;
    width: 95%;
    margin: 0 auto;
    
}

@media only screen and (max-width: 600px) {
    #skill-level {
        grid-area: 9/1/11/5;
        width: 75%;
        margin: 0 auto;
        margin-top: 2vw;
    }
}

.skill {
    display: flex;
    margin-bottom: 1vh;
}

.skill-img {
    width: auto;
    height: 10vh;
    object-fit: contain;
    
}

.skill-table {
    width: 100%;
    height: 3vh;
}

.fill {
    background-color: white;
}

.skill-table td {
    border: 1px solid white;
}

